@import "~scss/mixins";

@include b('anchor-animation'){
  @include e('rotate3d'){
    transition: transform 280ms;
    @include m('top-down'){
      transform: rotate3d(0, 0, 1, 180deg);
    }
    @include m('left-right'){
      transform: rotate3d(0, 0, 1, 180deg);
    }
  }

  @include e('slide-vertical-enter-active'){
    opacity: 1;
    transition: height .3s ease-in-out, opacity .3s ease-in-out;
  }
  @include e('slide-vertical-leave-active'){
    opacity: 0;
    transition: height .3s ease-in-out, opacity .3s ease-in-out;
  }
  @include e('slide-vertical-enter'){
    height: 0;
    opacity: 0;
  }

  @include e('drop-down-enter'){
    opacity: 0 !important;
    top: 90% !important;
  }
  @include e('drop-down-leave-to'){
    opacity: 0 !important;
    top: 90% !important;
  }
  @include e('drop-down-enter-active'){
    transition: top 250ms, opacity 250ms;
  }
  @include e('drop-down-leave-active'){
    transition: top 250ms, opacity 250ms;
  }
}