/* BEM in SASS --start
 * https://medium.com/@marcmintel/pushing-bem-to-the-next-level-with-sass-3-4-5239d2371321
 **/

$elementSeparator: '__';
$modifierSeparator: '--';

@function selectorToString($selector) {
  $selector: inspect($selector);          //cast to string
  $selector: str-slice($selector, 2, -2); //remove brackets
  @return $selector;
}

@function containsModifier($selector) {
  $selector: selectorToString($selector);
  @if str-index($selector, $modifierSeparator) {
    @return true;
  } @else {
    @return false;
  }
}

@function getBlock($selector) {
  $selector: selectorToString($selector);
  $modifierStart: str-index($selector, $modifierSeparator) - 1;
  @return str-slice($selector, 0, $modifierStart);
}

@mixin b($block) {
  .#{$block} {
    @content;
  }
}

@mixin e($element) {
  $selector: &;
  @if containsModifier($selector) {
    $block: getBlock($selector);
    @at-root {
      #{$selector} {
        #{$block+$elementSeparator+$element} {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      #{$selector+$elementSeparator+$element} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  @at-root {
    #{&}#{$modifierSeparator+$modifier} {
      @content;
    }
  }
}
/* BEM in SASS --end */

/* level */

@mixin level($z: 'normal') {
  @if $z == 'highest' {
    z-index: 9999;
  } @else if $z == 'higher' {
    z-index: 99;
  } @else if $z == 'high' {
    z-index: 9;
  } @else if $z == 'low' {
    z-index: -9;
  } @else if $z == 'lower' {
    z-index: -99;
  } @else if $z == 'lowest' {
    z-index: -9999;
  } @else {
    z-index: 0;
  }
}

/* triangle icon */
@mixin triangle($direction, $color: $color-line) {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  vertical-align: middle;
  cursor: pointer;
  @if $direction == 'left' {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $color;
  } @else if $direction == 'right' {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $color;
  } @else if $direction == 'top' {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $color;
  } @else if $direction == 'down' {
    border-top: 5px solid $color;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  } @else {
    @content;
  }
}

/* clear float */
@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

/* single line text */
@mixin single-line{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}