/* primary color */
$color-primary: #E2003B;
$color-primary-hover: #F57973;
$color-primary-click: #C30037;

$color-word: #4b556a;
$color-tips: #89909a;
$color-line: #d4d4d4;

/* primary word */
$font-size-smaller: 12px;
$font-size-base: 14px;
$font-size-larger: 16px;

/* menu */
$color-menu-bg: #1b1d23;
$color-menu-text: #bfcbd9;