@import "~scss/mixins";
@import "~scss/variables";

@include b('anchor-breadcrumb'){
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  @include e('element'){
    display: inline-block;
    vertical-align: top;

    @include m('active'){
      .anchor-breadcrumb__text, .anchor-breadcrumb__separator{
        color: $color-primary;
      }
    }
  }
  @include e('text'){
    display: inline-block;
    font-size: $font-size-smaller;
    color: $color-tips;
    vertical-align: top;
  }
  @include e('separator'){
    display: inline-block;
    margin: 0 8px;
    font-size: $font-size-smaller;
    color: $color-tips;
    vertical-align: top;
  }
}