@import "~scss/mixins";
@import "~scss/variables";

@include b('anchor-button'){
  position: relative;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 0;
  vertical-align: middle;
  transition: border-color .24s, background-color .24s;

  // text of button
  @include e('text'){
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: left;
    font-size: $font-size-smaller;
    vertical-align: middle;
    outline: none;
    @include single-line();
  }

  //basic style of button
  @include e('style-1'){
    color: $color-base;
    background-color: #ffffff;
    &:hover{
      .anchor-button__text{
        color: $color-primary;
      }
      cursor: pointer;
    }
    @include m('active'){
      .anchor-button__text{
        color: $color-primary;
      }
      cursor: pointer;
    }
    @include m('disabled'){
      .anchor-button__text{
        color: $color-forbidden-font !important;
      }
      cursor: not-allowed !important;
    }
  }

  @include e('style-2'){
    border-color: $color-line;
    .anchor-button__text{
      color: $color-primary;
    }
    background-color: $color-button-background;
    &:hover{
      border-color: $color-primary;
      background-color: $color-primary-background;
      cursor: pointer;
    }
    @include m('active'){
      border-color: $color-primary;
      background-color: $color-primary-background;
      cursor: pointer;
    }
    @include m('disabled'){
      .anchor-button__text{
        color: $color-forbidden-font !important;
      }
      border-color: $color-forbidden-border !important;
      background-color: #ffffff !important;
      cursor: not-allowed !important;
    }
  }

  @include e('style-3'){
    .anchor-button__text{
      color: $color-primary;
    }
    background-color: $color-primary-background-darker;
    border-color: transparent;
    &:hover{
      background-color: $color-primary-background-darker-hover;
      cursor: pointer;
    }
    @include m('active'){
      background-color: $color-primary-background-darker-hover;
      cursor: pointer;
    }
    @include m('disabled'){
      .anchor-button__text{
        color: $color-forbidden-font !important;
      }
      background-color: $color-forbidden-background-darker !important;
      cursor: not-allowed !important;
    }
  }

  @include e('style-4'){
    .anchor-button__text{
      color: $color-primary;
    }
    background-color: $color-primary-background-darker;
    &:hover{
      background-color: $color-primary-background-darker-hover;
      border-color: $color-primary;
      cursor: pointer;
    }
    @include m('active'){
      background-color: $color-primary-background-darker-hover;
      border-color: $color-primary;
      cursor: pointer;
    }
    @include m('disabled'){
      .anchor-button__text{
        color: $color-forbidden-font !important;
      }
      background-color: $color-forbidden-background-darker !important;
      border-color: transparent !important;
      cursor: not-allowed !important;
    }
  }

  @include e('style-5'){
    .anchor-button__text{
      color: #ffffff;
    }
    background-color: $color-primary;
    border: none;
    &:hover{
      background-color: $color-primary-hover;
      cursor: pointer;
    }
    @include m('active'){
      background-color: $color-primary-hover;
      cursor: pointer;
    }
    @include m('disabled'){
      .anchor-button__text{
        color: $color-forbidden-font !important;
      }
      background-color: $color-forbidden-background-darker !important;
      cursor: not-allowed !important;
    }
  }

  @include e('style-6'){
    .anchor-button__text{
      color: $color-base;
    }
    color: $color-base;
    background-color: $color-base-background;
    &:hover{
      border-color: $color-line;
      cursor: pointer;
    }
    @include m('active'){
      border-color: $color-line;
      cursor: pointer;
    }
    @include m('disabled'){
      .anchor-button__text{
        color: $color-forbidden-font !important;
      }
      background-color: $color-forbidden-background-darker !important;
      border-color: transparent !important;
      cursor: not-allowed !important;
    }
  }

  @include e('tag'){
    @include m('disabled'){
      .anchor-button__text{
        color: $color-forbidden-font !important;
      }
      background-color: $color-forbidden-background-darker !important;
      cursor: not-allowed !important;
    }
    @include m('color-EA9509'){
      background-color:#FEEFD7;
      .anchor-button__text{
        color: #EA9509;
      }
    }
    @include m('color-2B90E8'){
      background-color:#E1EFFB;
      .anchor-button__text{
        color: #2B90E8;
      }
    }
    @include m('color-08B446'){
      background-color:#CFFFE2;
      .anchor-button__text{
        color: #08B446;
      }
    }
    @include m('color-AEA202'){
      background-color:#F2FABA;
      .anchor-button__text{
        color: #AEA202;
      }
    }
    @include m('color-6F57FF'){
      background-color:#F4E8FF;
      .anchor-button__text{
        color: #6F57FF;
      }
    }
    @include m('color-E15E85'){
      background-color:#FCEBF0;
      .anchor-button__text{
        color: #E15E85;
      }
    }
    @include m('color-1AADE1'){
      background-color:#DAF9FE;
      .anchor-button__text{
        color: #1AADE1;
      }
    }
    @include m('color-F96E28'){
      background-color:#FCDCCC;
      .anchor-button__text{
        color: #F96E28;
      }
    }
  }
}