@import "~scss/mixins";
@import "~scss/variables";

@include b('anchor-checkbox'){
  display: inline-block;
  vertical-align: middle;

  @include e('element'){
    position: relative;
    display: inline-block;
    line-height: 1;
    font-size: $font-size-smaller;
    color: $color-base;
    cursor: pointer;
    margin-left: 20px;

    @include m('disabled'){
      cursor: not-allowed;
      color: $color-forbidden-font;
    }
  }
  .anchor-checkbox__element:first-child{
    margin-left: 0;
  }
  
  @include e('element-vertical'){
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0;
  }

  @include e('button'){
    position: relative;
    top: -1px;
    margin-right: 8px;
  }
}