@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/animation";

@include b('drop-down'){
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: middle;

  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px 3px;
    background-color: #b9b9b9;
  }

  SCROLLBAR-ARROW-COLOR:#FFFFFF;
  SCROLLBAR-FACE-COLOR:#CCCCCC;
  SCROLLBAR-DARKSHADOW-COLOR:#FFFFFF;
  SCROLLBAR-HIGHLIGHT-COLOR:#FFFFFF;
  SCROLLBAR-3DLIGHT-COLOR:#FFFFFF;
  SCROLLBAR-SHADOW-COLOR:#FFFFFF;
  SCROLLBAR-TRACK-COLOR:#FFFFFF;

  @include e('on-display'){
    position: relative;
    display: block;
    line-height: 28px;
    font-size: $font-size-smaller;
    @include single-line();

    @include m('style-1'){
      color: $color-base;
    }
    @include m('style-2'){
      color: $color-primary;
    }
  }

  @include e('triangle'){
    position: absolute;
    top: 45%;
    top: calc(50% - 2px);
    right: 4px;
  }

  @include e('container'){
    position: relative;
    max-width: 120px;
    padding: 0 18px 0 10px;
    border: 1px solid $color-line;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;

    &:hover{
      color: $color-primary;
      background-color: $color-primary-background;
      border-color: $color-primary;
    }

    @include m('disabled'){
      cursor: not-allowed;
      background-color: #FFFFFF !important;
      border-color: $color-line !important;
      .anchor-icon-triangle{
        border-top-color: $color-line !important;
      }
      .drop-down__on-display{
        color: $color-line !important;
      }
    }
  }

  @include e('container-simple'){
    position: relative;
    max-width: 120px;
    padding: 3px 18px 3px 0;
    box-sizing: border-box;
    background-color: #ffffff;
    cursor: pointer;

    @include m('disabled'){
      cursor: not-allowed;
      .anchor-icon-triangle{
        border-top-color: $color-line !important;
      }
    }

    @include m('active'){
      .drop-down__on-display{
        color: $color-primary;
      }
    }
  }

  @include e('list'){
    position: absolute;
    z-index: 15;
    top: 104%;
    left: 0;
    padding: 8px 0px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 0 6px rgb(177,178,180);
    background-color: #FFF;
    font-size: 12px;
    opacity: 1;
  }

  @include e('item'){
    display: block;
    position: relative;
    line-height: 28px;
    padding: 0 15px;
    box-sizing: border-box;
    color: $color-base;
    text-align: left;
    cursor: pointer;

    @include m('dot'){
      display: none;
      position: absolute;
      top: 13px;
      left: 6px;
      width: 3px;
      height: 3px;
      border-radius: 50% 50%;
    }

    @include m('active'){
      .drop-down__item--dot {
        display: block;
        background-color: $color-primary;
      }
      .drop-down__item-element{
        color: $color-primary;
      }
    }

    &:hover {
      .drop-down__item--dot {
        display: block;
        background-color: $color-primary;
      }
      .drop-down__item-element{
        color: $color-primary;
      }
    }

    &.disabled {
      cursor: no-drop;
      .drop-down__item--dot {
        display: none;
      }
      .drop-down__item-element{
        color: $color-forbidden-font;
      }
    }
  }

  @include e('item-search'){
    margin-bottom: 5px;
    .anchor-input{
      min-width: 173px;
    }
  }
  
  @include e('search-none'){
    text-align: center;
    color: $color-tips;
    cursor: default;
  }

  @include e('item-element'){
    display: block;
    @include single-line();
  }
}