@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/animation";

/* device */
.anchor-icon-device-white-black{
  display: inline-block;
  vertical-align: middle;
  background-image: url('../../img/device--white-black.svg');
  background-repeat: no-repeat;

  &__instance     {width: 14px; height: 16px; background-position: 0 0;}
  &__volume       {width: 14px; height: 16px; background-position: -22px 0px;}
  &__rdb          {width: 14px; height: 16px; background-position: -88px 0px;}
  &__snapshot     {width: 14px; height: 16px; background-position: -111px 0px;}
  &__ip           {width: 15px; height: 15px; background-position: -96px -98px;}
  &__vps          {width: 15px; height: 15px; background-position: -46px -192px;}
  &__network      {width: 16px; height: 16px; background-position: 0 -47px;}
  &__router       {width: 15px; height: 15px; background-position: -25px -48px;}
  &__loadBalancer {width: 15px; height: 16px; background-position: -48px -48px;}
  &__group        {width: 16px; height: 16px; background-position: -70px -48px;}
  &__keyPair      {width: 16px; height: 16px; background-position: -94px -48px;}
  &__image        {width: 17px; height: 16px; background-position: -118px -48px;}
  &__recyclebin   {width: 14px; height: 14px; background-position: -144px -48px;}
  &__information  {width: 17px; height: 17px; background-position: -120px -94px;}
  &__account      {width: 18px; height: 17px; background-position: -144px -94px;}
  &__set          {width: 18px; height: 17px; background-position: -144px -94px;}
  &__consumption  {width: 18px; height: 17px; background-position: 0 -142px;}
  &__resource     {width: 18px; height: 17px; background-position: -26px -142px;}
  &__quota        {width: 18px; height: 17px; background-position: -52px -142px;}
  &__label        {width: 18px; height: 17px; background-position: -150px -142px;}
  &__news         {width: 18px; height: 18px; background-position: -78px -142px;}
  &__support      {width: 18px; height: 17px; background-position: -102px -142px;}
  &__beian        {width: 18px; height: 17px; background-position: -126px -142px;}
  &__apikeypair   {width: 18px; height: 16px; background-position: 0 -192px;}
  &__logs         {width: 18px; height: 17px; background-position: -24px -192px;}
  &__baremetal    {width: 15px; height: 16px; background-position: 0 -97px;}
  &__hosting      {width: 15px; height: 16px; background-position: -24px -96px;}
  &__rack         {width: 15px; height: 16px; background-position: -48px -96px;}
  &__fastFiber    {width: 15px; height: 16px; background-position: -72px -96px;}
  &__cos          {width: 12px; height: 10px; background-position: -37px -2px;}
  &__nas          {width: 12px; height: 14px; background-position: -56px 0px;}

  &__instance--active, &__instance:hover          {background-position: 0px -24px;}
  &__volume--active, &__volume:hover              {background-position: -22px -24px;}
  &__rdb--active, &__rdb  :hover                  {background-position: -88px -24px;}
  &__snapshot--active, &__snapshot:hover          {background-position: -111px -24px;}
  &__ip--active, &__ip:hover                      {background-position: -96px -122px;}
  &__vps--active, &__vps:hover                    {background-position: -70px -192px;}
  &__network--active, &__network:hover            {background-position: 0 -71px;}
  &__router--active, &__router:hover              {background-position: -25px -72px;}
  &__loadBalancer--active, &__loadBalancer:hover  {background-position: -48px -72px;}
  &__group--active, &__group:hover                {background-position: -70px -72px;}
  &__keyPair--active, &__keyPair:hover            {background-position: -94px -72px;}
  &__image--active, &__image:hover                {background-position: -118px -72px;}
  &__recyclebin--active, &__recyclebin:hover      {background-position: -144px -71px;}
  &__information--active, &__information:hover    {background-position: -120px -118px;}
  &__account--active, &__account:hover            {background-position: -144px -118px;}
  &__set--active, &__set:hover                    {background-position: -144px -118px;}
  &__consumption--active, &__consumption:hover    {background-position: 0 -166px;}
  &__resource--active, &__resource:hover          {background-position: -26px -166px;}
  &__quota--active, &__quota:hover                {background-position: -52px -166px;}
  &__label--active, &__label:hover                {background-position: -150px -166px;}
  &__news--active, &__news:hover                  {background-position: -78px -166px;}
  &__support--active, &__support:hover            {background-position: -102px -166px;}
  &__beian--active, &__beian:hover                {background-position: -126px -166px;}
  &__apikeypair--active, &__apikeypair:hover      {background-position: 0px -217px;}
  &__logs--active, &__logs:hover                  {background-position: -24px -217px;}
  &__operation--active, &__operation:hover        {background-position: 0 -218px;}
  &__baremetal--active, &__baremetal:hover        {background-position: 0 -121px;}
  &__hosting--active, &__hosting:hover            {background-position: -24px -120px;}
  &__rack--active, &__rack:hover                  {background-position: -48px -120px;}
  &__fastFiber--active, &__fastFiber:hover        {background-position: -72px -120px;}
}

@include b('anchor-icon-device-colored'){
  display: inline-block;
  background-image: url('../../img/device--colored.svg');
  background-repeat: no-repeat;
  vertical-align: middle;
  @include e('instance'){
    width: 14px;
    height: 16px;
    background-position: 0px 0px;
    @include m('active') {
      background-position: 0 -24px;
    }
    &:hover{
      cursor: pointer;
      background-position: 0 -24px;
    }
  }
  @include e('dServer'){
    width: 15px;
    height: 16px;
    background-position: -93px 0px;
    @include m('active'){
      background-position: -93px -24px;
    }
    &:hover{
      cursor: pointer;
      background-position: -93px -24px;
    }
  }
  @include e('hosting'){
    width: 15px;
    height: 16px;
    background-position: -1px -48px;
    @include m('active'){
      background-position: -1px -72px;
    }
    &:hover{
      cursor: pointer;
      background-position: -1px -72px;
    }
  }
  @include e('volume'){
    width: 12px;
    height: 16px;
    background-position: -23px 0px;
    @include m('active'){
      background-position: -23px -24px;
    }
    &:hover{
      cursor: pointer;
      background-position: -23px -24px;
    }
  }

  // -- (start) icon位置未校对，不可用 --
  @include e('sbk'){
    width: 15px;
    height: 15px;
    background-position: -308px -2px;
    @include m('active'){
      background-position: -308px -26px;
    }
  }
  @include e('rdbs'){
    width: 15px;
    height: 15px;
    background-position: -213px -51px;
    @include m('active'){
      background-position: -213px -75px;
    }
  }
  @include e('cdn'){
    width: 15px;
    height: 16px;
    background-position: -306px -50px;
    @include m('active'){
      background-position: -306px -74px;
    }
  }
  @include e('sdn'){
    width: 15px;
    height: 16px;
    background-position: -234px -2px;
    @include m('active'){
      background-position: -234px -26px;
    }
  }
  @include e('router'){
    width: 15px;
    height: 16px;
    background-position: -334px -2px;
    @include m('active'){
      background-position: -334px -26px;
    }
  }
  @include e('clb'){
    width: 15px;
    height: 16px;
    background-position: -236px -50px;
    @include m('active'){
      background-position: -236px -74px;
    }
  }
  @include e('cfw'){
    width: 16px;
    height: 16px;
    background-position: -258px -50px;
    @include m('active'){
      background-position: -258px -74px;
    }
  }
  @include e('fastFiber'){
    width: 15px;
    height: 14px;
    background-position: -282px -51px;
    @include m('active'){
      background-position: -282px -75px;
    }
  }
  @include e('monitor'){
    width: 16px;
    height: 16px;
    background-position: -258px -2px;
    @include m('active'){
      background-position: -258px -26px;
    }
  }
  @include e('cmp'){
    width: 16px;
    height: 15px;
    background-position: -357px -2px;
    @include m('active'){
      background-position: -357px -26px;
    }
  }
  @include e('cloudMonitor'){
    width: 15px;
    height: 16px;
    background-position: -330px -50px;
    @include m('active'){
      background-position: -330px -74px;
    }
  }
  // -- (end) icon位置未校对，不可用 --
}

/* triangle */
@include b('anchor-icon-triangle'){
  @include e('left'){
    @include triangle('left');
    @include m('active'){
      border-right-color: $color-primary;
    }
  }

  @include e('right'){
    @include triangle('right');
    @include m('active'){
      border-left-color: $color-primary;
    }
  }

  @include e('top'){
    @include triangle('top');
    @include m('active'){
      border-bottom-color: $color-primary;
    }
  }

  @include e('down') {
    @include triangle('down');
    @include m('active'){
      border-top-color: $color-primary;
    }
  }
}

@include b('anchor-icon-dot'){
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50% 50%;
  background-color: $color-line;
  vertical-align: middle;
  @include m('active'){
    background-color: $color-primary;
  }
}

@include b('anchor-icon-direction'){
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: #ffffff;
  vertical-align: middle;
  background-image: url('../../../src/img/select-number.svg');
  background-repeat: no-repeat;

  @include e('left-style-1'){
    background-position: 0px 0px;
    &:hover{
      cursor: pointer;
      background-position: 0px -20px;
    }
    @include m('active'){
      cursor: pointer;
      background-position: 0px -20px;
    }
    @include m('disabled'){
      cursor: not-allowed;
      background-position: 0px -40px;
    }
  }

  @include e('right-style-1'){
    background-position: -20px 0px;
    &:hover{
      cursor: pointer;
      background-position: -20px -20px;
    }
    @include m('active'){
      cursor: pointer;
      background-position: -20px -20px;
    }
    @include m('disabled'){
      cursor: not-allowed;
      background-position: -20px -40px;
    }
  }

  @include e('left-style-2'){
    background-position: 0px -40px;
    &:hover{
      cursor: pointer;
      background-position: 0px 0px;
    }
    @include m('active'){
      cursor: pointer;
      background-position: 0px 0px;
    }
    @include m('disabled'){
      cursor: not-allowed;
      background-position: 0px -40px;
    }
  }

  @include e('right-style-2'){
    background-position: -20px -40px;
    &:hover{
      cursor: pointer;
      background-position: -20px 0px;
    }
    @include m('active'){
      cursor: pointer;
      background-position: -20px 0px;
    }
    @include m('disabled'){
      cursor: not-allowed;
      background-position: -20px -40px;
    }
  }

  @include e('left-style-3'){
    width: 5px;
    height: 10px;
    background-position: -14px -79px;
    &:hover{
      cursor: pointer;
      background-position: -27px -79px;
    }
    @include m('active'){
      cursor: pointer;
      background-position: -27px -79px;
    }
    @include m('disabled'){
      cursor: not-allowed;
      background-position: -14px -79px;
    }
  }

  @include e('right-style-3'){
    width: 5px;
    height: 10px;
    background-position: -20px -79px;
    &:hover{
      cursor: pointer;
      background-position: -33px -79px;
    }
    @include m('active'){
      cursor: pointer;
      background-position: -33px -79px;
    }
    @include m('disabled'){
      cursor: not-allowed;
      background-position: -20px -79px;
    }
  }
}

@include b('anchor-icon-search'){
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../../img/search.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
  @include m('active'){
    background-position: 0 -16px;
  }
}