@import "~scss/mixins";
@import "~scss/variables";

@include b('menu-title'){
  display: inline-block;
  background-color: $color-menu-title;
  padding: 0 15px 0 20px;
  font-size: 0;
  @include e('text'){
    display: inline-block;
    color: #fff;
    padding: 0 15px;
    font-size: $font-size-base;
    vertical-align: middle;
    user-select: none;
    @include single-line;
  }
  &:hover{
    cursor: pointer;
  }
}