@import "~scss/mixins";
@import "~scss/variables";

@include b('menu-content'){
  position: relative;
  display: inline-block;
  padding: 0 32px 0 50px;
  box-sizing: border-box;
  background-color: $color-menu-bg;
  user-select: none;
  color: #fff;
  font-size: $font-size-base;
  @include single-line;
  transition: background-color 240ms;
  @include m('active'){
    background-color: #000;
  }
  @include e('bar'){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: $color-primary;
  }
  &:hover{
    cursor: pointer;
  }
}