@import "~scss/mixins";
@import "~scss/variables";

@include b('menu-title'){
  position: relative;
  display: inline-block;
  padding: 0 32px 0 50px;
  box-sizing: border-box;
  background-color: $color-menu-title;
  user-select: none;
  color: #fff;
  font-size: $font-size-base;
  text-align: left;
  @include single-line;
  &:hover{
    cursor: pointer;
  }
  @include e('sub'){
    background-color: $color-menu-bg-light;
    color: $color-menu-text-dark;
  }
}