@import "~scss/mixins";
@import "~scss/variables";

@include b('anchor-pagination'){
  vertical-align: middle;
  .drop-down__on-display, .anchor-input__base{
    text-align: center;
  }

  @include e('list'){
    display: inline-block;
  }

  @include e('text'){
    display: inline-block;
    vertical-align: middle;
    font-size: $font-size-smaller;
  }
}