@import "~scss/mixins";
@import "~scss/variables";

@include b('select-number'){
  display: inline-block;
  height: 21px;
  line-height: 21px;
  border-radius: 3px;
  background-color: #F4F4F4;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  user-select:none;
  @include e('input'){
    display: inline-block;
    width: 36px;
    height: 21px;
    line-height: 21px;
    padding: 0;
    border: none;
    background-color: #F4F4F4;
    text-align: center;
    vertical-align: top;
  }
}