@import "~scss/mixins";
@import "~scss/variables";

@include b('anchor-table'){
  width: 100%;
  th, td{
    padding: 8px 6px;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid $color-table-line;
    vertical-align: middle;
    font-size: $font-size-smaller;
    font-weight: normal;
    color: $color-tips;
  }
  @include e('element'){
    font-size: $font-size-smaller;
    color: $color-base;
  }
}

@include b('anchor-thead'){
  .drop-down__on-display{
    color: $color-tips !important;
  }
}

@include b('anchor-tbody'){
  border-left: 1px solid transparent;
  &:hover{
    border-left-color: $color-primary;
    background-color: $color-table-background-hover;
  }
}